<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PMSEntities" connectionString="metadata=res://*/Context.PMS.csdl|res://*/Context.PMS.ssdl|res://*/Context.PMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ssgdv19;Initial Catalog=eHR;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="PMSEntities" connectionString="metadata=res://*/Context.PMS.csdl|res://*/Context.PMS.ssdl|res://*/Context.PMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=nsg175\sqlexpress;Initial Catalog=eHR;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="logfilepath" value="D:\log.txt"/>
    <add key="smtphost" value="SSGEX03"/>
    <add key="emailsenderaddress" value="eHR.PMS@asiacapitalre.com"/>
    <add key="emailsendername" value="eHR PMS"/>
    <add key="pmsweburl" value="http://ssgdv19/eHR.PMS.Web/"/>
  </appSettings>

</configuration>