

<h2 style="text-align:center;"><img src="@(Url.Content("~/Content/img/ops.png"))" width="5%" />Access Denied</h2>
<div class="row" style="padding:20px 50px;">
  <div class="panel panel-default col-md-6 col-md-offset-3">    
    <p style="padding:20px;">
    Your access to the page is denied. Please contact IT to check if you have the appropriate roles for the system.
    </p>
  </div>
</div>

