

<h2 style="text-align:center;"><img src="/Content/img/ops.png" width="5%" />Ops,You reached error page</h2>
<div class="row" style="padding:20px 50px;">
  <div class="panel panel-default col-md-6 col-md-offset-3">    
    <p style="padding:20px;">
     @Html.Raw(ViewData["message"]);
    </p>
  </div>
</div>



<div style="text-align:center;margin:40px;"><button class="btn btn-large btn-info"><i class="glyphicon glyphicon-home glyphicon-white"></i> Take Me Home</button></div>

